* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav {
    height: 70px;
    width: 100%;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0px 1px 3px #ccc;
    position: sticky;
    top: 0;
    z-index: 99;
}

nav .nav-left {
    display: flex;
    align-items: center;
}


nav .nav-left .search {
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgba(0, 0, 0, 0.73);
    width: 300px;
    height: 40px;
    border-radius: 25px;
    margin-left: 15px;
}

nav .nav-left > img {
    width: 40px;
}

nav .nav-left .search input {
    width: 80%;
    border: none;
    outline: none;
    margin-left: 15px;
}

nav .nav-left .search button {
    width: 35px;
    background-color: transparent;
    border: none;
    margin-right: 15px;
}

nav .nav-middle {
    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;
}

nav .nav-middle a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    margin: 0px 10px;
}

nav .nav-middle a.active {
    color: royalblue;
    position: relative;
}

nav .nav-middle a.active::after {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: royalblue;
}

nav .nav-middle a > i {
    font-size: 25px;
}

nav .nav-right {
    margin-top: 15px;

}

.nav-right-icon {
    display: flex;
    margin-top: 5px;
}

nav .nav-right .profile, .container .left-panel .profile {
    /*background: url('../../assets/img/avarta.jpg');*/
    height: 40px;
    width: 40px;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
}

nav .nav-right a {
    text-decoration: none;
    color: #333;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #eee;
    display: grid;
    place-items: center;
    margin-left: 1rem;
}

nav .nav-right a > i {
    font-size: 18px;
}

.nav-right-window-chat {
    display: none;
    position: absolute;
    background-color: #ffffff;
    right: 15px;
    top: 70px;
    width: 350px;
    hight: 700px;
    border-radius: 10px 10px 10px 10px;
}

.window-chat-top {
    height: 90px;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 5px;
}

.window-chat-top .top-chat {
    display: flex;
    justify-content: space-between;
    margin: 10px;


}

.window-chat-top .top-icon {
    display: flex;
    margin-left: 50px;
}

.window-chat-top .top-icon a {
    background-color: white;
}

window-chat-top .search-message {
    display: flex;
}

.search-message input {
    margin-left: 10px;
    height: 35px;
    width: 80%;
    border-radius: 15px;
    border-color: rgba(255, 255, 255, 0);
    background-color: #f1f1f1;
    padding-left: 15px;
}
.search-message input:focus{
    background-color: white;
}

.window-chat-main {
    height: 550px;
    overflow-y: scroll;
}

.window-chat-main .friend-chat {
    display: flex;
    margin-top: 30px;
    background-color: white;
    justify-content: space-around;

}

.friend-chat :hover{
    background-color: #f5f5f5;
    border-radius: 5px;
}

.friend-chat .item-friend{
    position: relative;
    display: flex;
    width: 100%;

}

.item-friend .icon-edit-chat{
    display: block;
    position: absolute;
    left: 270px;
    top: 15px;
    padding: 10px;
    background-color: transparent;

}

.friend-chat .item-friend img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}


.nav-right-window-chat-one-one{
    width: 350px;
    height: 400px;
    display: block;
    background-color: #ffffff;
    position: absolute;
    top: 350px;
    right: 100px;
    border-radius: 5px 5px 5px 5px;
}

.chat-one-one-top{
    box-sizing: border-box;
    padding: 5px 5px 5px 5px ;
    display: flex;
    border-bottom: 1px solid #d2d2d2;
}

.info-chat-one{
    width: 250px;
    display: flex;
}

.info-chat-one img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.action-chat-one{
    display: flex;
    width: 150px;
    justify-content: space-around;
    margin-top: 8px;
}
.action-chat-one i {
    color: #0076e7;
    border-radius: 2px;
}

.chat-one-one-middle{

}
.chat-one-one-bottom{

}


.container {
    background: #eee;
    display: flex;
}

.container .left-panel, .container .right-panel {
    position: sticky;
    top: 70px;
    width: 250px;
    height: calc(100vh - 70px);
}

.container .left-panel ul {
    padding: 10px 0px;
}


.container .left-panel ul li {
    list-style: none;
    display: flex;
    padding: .7rem 1rem;
    align-items: center;
    transition: .3s;
    border-radius: 5px;
    cursor: pointer;
}

.container .left-panel ul li a{
    text-decoration: none
}

.container .left-panel ul li:hover {
    background: #ddd;
}

.container .left-panel ul li > p {
    margin-left: 10px;
}

.container .left-panel ul li > i {
    font-size: 20px;
    color: slateblue;
}

.container .left-panel ul li > i.fa-calendar-week {
    color: tomato;
}

.container .left-panel ul li i.fa-briefcase {
    color: green;
}

.container .left-panel ul li i.fa-star {
    color: yellowgreen;
}

.container .left-panel ul li i.fa-hands-helping {
    color: indianred;
}

.container .left-panel .footer-links {
    padding: 5px 1rem;
}

.container .left-panel .footer-links a {
    text-decoration: none;
    color: #333;
    font-size: 12px;
}

.middle-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle-panel .story-section {
    display: flex;
    padding: 1rem;
}

.middle-panel .story-section .story {
    width: 120px;
    height: 200px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin: 0px 5px;
    box-shadow: 0 0 5px 5px #ddd;
    background: #fff;
}

.middle-panel .story-section .story > img {
    height: 100%;
    transition: .3s ease-in;
}

.middle-panel .story-section .story:hover > img {
    transform: scale(1.05);
}

.middle-panel .story-section .story .dp-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 10px;
    left: 10px;
    border: royalblue 4px solid;
}

.middle-panel .story-section .story .dp-container > img {
    width: 100%;
    height: 100%;
}

.middle-panel .story-section .story .name {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 5px;
    color: #fff;
    font-weight: bold;
}

.middle-panel .story-section .story.create .dp-image {
    height: 80%;
    overflow: hidden;
}

.middle-panel .story-section .story.create .dp-image img {
    width: 100%;
}

.middle-panel .story-section .story.create .dp-container {
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    place-items: center;
    background: royalblue;
    border: 4px solid #fff;
}

.middle-panel .story-section .story.create .dp-container i {
    color: #fff;
}

.middle-panel .story-section .story.create .name {
    color: #000;
    font-size: 15px;
    left: 10px;
}

.container-create-post {
    width: 560px;
    height: 428px;
    border-radius: 10px;
    background-color: #ffffff;
    position: absolute;
    display: none;
    left: 480px;
    top: 180px;
    z-index: 2000;
}

.top-create-post{
    display: flex;
    justify-content: space-between;
    margin: 5px 5px 5px 5px ;
    border-bottom: 1px solid #d7d7d7;
}

.top-create-post div span{
    font-size: 17px;
    font-weight: bold;
    padding-top: 20px;
}

.post {
    width: 550px;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.post .post-top {
    display: flex;
    align-items: center;
    padding: 10px;
}

.post .post-top .dp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.post .post-top .dp > img {
    width: 100%;
    cursor: pointer;
}

.post .post-top .post-info {
    margin-left: 10px;
    font-weight: bold;
}

.post .post-top .post-info .name {
    cursor: pointer;
    font-size: 16px;
}

.post .post-top .post-info .time {
    font-size: 12px;
    cursor: pointer;
}

.post .post-top i {
    margin-left: auto;
    cursor: pointer;
}

.post .post-top > input {
    height: 40px;
    padding: 5px 10px;
    border-radius: 25px;
    outline: none;
    border: none;
    flex: 1;
    background: #eee;
    margin-left: 10px;
}

.post .post-content {
    font-size: 16px;
    font-weight: normal;
    padding: 10px;
}

.post .post-content > img {
    width: 100%;
    margin: 5px 0px;
}

.quantity-like-comment {
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #b4b4b4;
}

.quantity-like, .quantity-comment {
    margin: 0px 10px 0px 10px;
}


.post .post-bottom {
    /*box-shadow: 1px solid #dadada;*/
    display: flex;
    justify-content: space-between;
    padding: 5px 5px 0px 5px;
    border-bottom: 1px solid #b4b4b4;
}

.post .post-bottom .action {
    padding: 10px;
    border-radius: 10px;
    transition: .3s ease-in;
    cursor: pointer;
}

.post .post-bottom .action:hover {
    background: #eee;
}

.post.create .post-bottom > .action {
    color: #d74;
}

.container .right-panel {
    padding: 1rem;
}

.right-panel .pages-section,
.right-panel .friends-section {
    margin: 1rem 0px;
}

.right-panel .pages-section h4,
.right-panel .friends-section h4 {
    margin-bottom: 10px;
}

.right-panel .pages-section .page,
.right-panel .friends-section .friend {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: .3s ease-in-out;
    border-radius: 5px;
    padding: 7px 10px;
    color: #333;
}

.right-panel .pages-section .page:hover,
.right-panel .friends-section .friend:hover {
    background: #ddd;
}

.right-panel .pages-section .page > .dp,
.right-panel .friends-section .friend > .dp {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.right-panel .pages-section .page > .dp > img,
.right-panel .friends-section .friend > .dp > img {
    width: 100%;
}

.right-panel .pages-section .name, .right-panel .friends-section .name {
    font-size: 18px;
    cursor: pointer;
    margin-left: 8px;
}

.container-comment {
    margin-top: 15px;
}

.write-comment {
    width: 80%;
    display: flex;
    justify-content: space-between;
}


.write-comment img {
    border-radius: 50%;
}

.write-comment button {
    width: 40px;
    border: none;
    border-radius: 8px;
    background-color: #cb5900;
    color: white;

}

.write-comment input {
    height: 30px;
    width: 80%;
    border: 1px solid #d0d0d0;
    border-radius: 10px;
}

.write-comment button a {
    text-decoration: none;
    color: white;
}

.all-comment {

}

.top-comment {
    margin: 20px 0px 0px 20px;
    display: flex;
}

.top-comment div img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.content-comment {
    flex-grow: 1;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 5px 5px;
    margin: 0px 30px 0px 5px;
}

.content-comment p {
    margin: 5px 0px 0px 10px;
}

.content-comment span {
    margin: 5px 0px 0px 10px;
    font-size: 15px;
}

.bottom-comment:hover {
    color: #0076e7;
    cursor: pointer;
}

.user-comment img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.container-reply {
    display: none;

}

.top-reply {
    margin: 10px 0px 0px 40px;
    display: flex;
}

.top-reply div img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.content-reply {
    flex-grow: 1;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 5px 5px;
    margin: 0px 30px 0px 5px;
}

.content-reply p {
    margin: 5px 0px 0px 10px;
}

.content-reply span {
    margin: 5px 0px 0px 10px;
    font-size: 15px;
}


/*.all-comment {*/
/*    position: relative;*/
/*    padding: 5px 5px;*/
/*    margin-top: 20px;*/
/*    display: flex;*/
/*    justify-content: flex-start;*/
/*    margin-left: 20px;*/
/*}*/

/*.post-info-comment {*/
/*    position: absolute;*/
/*    border-radius: 10px;*/
/*    left: 40px;*/
/*    width: 90%;*/
/*    background-color: #f5f5f5;*/
/*    padding: 5px;*/
/*}*/

/*.post-info-comment .massage {*/
/*    font-size: 14px;*/
/*    font-weight: normal;*/
/*}*/

/*.post-info-comment .name {*/
/*    font-size: 14px;*/
/*    font-weight: normal;*/
/*}*/

/*css button search*/
.result-search {
    position: absolute;
    display: none;
    border-radius: 0px 25px 25px 0px;
    width: 350px;
    background-color: #ffffff;
}
.color-body-create-post{
    position: absolute;
    background-color: rgba(51, 51, 51, 0.76);
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
}