* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
}

.profile-top{
    position: relative;
    width: 1200px;
    height: 450px;
    /*background-color: rgba(0, 118, 231, 0.18);*/
    margin: auto;
}

.profile-top .container-cover{

}
.container-cover .cover-item{
margin: auto;
}

.container-cover .cover-item img{
    width: 1200px;
    height: 310px;
    border-radius: 10px;
}
.container-cover .cover-item .edit-cover{
    display: flex;
    justify-content:space-around ;
    width: 180px;
    height: 40px;
    border-radius: 10px;
    background-color: #ffffff;
    position: absolute;
    top: 250px;
    right: 50px;
    z-index: 20;

}

.profile-top .container-info{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 10px;

}
.container-info .left-info{
    display: flex;
    padding: 0px 10px 0px 30px;
}
.left-info img{
    margin-top: -20px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.container-info .right-info{
    display: flex;
    width: 400px;
    justify-content: space-around;
    margin: 30px 50px 0px 0px;
}
.right-info .right-info-add{
    width: 150px;
    height: 40px;
    background-color: #1b74e4;
    border-radius: 5px;
    color: white;
    box-sizing: border-box;
    padding: 12px 0px 0px 5px;
}
.right-info .right-info-edit{
    width: 250px;
    height: 40px;
    background-color:  #e4e6eb;
    border-radius: 5px;
    color: #212121;
    box-sizing: border-box;
    padding: 12px 0px 0px 5px;
    margin-left: 10px;

}
.profile-top .container-menu{
    box-sizing: border-box;
    padding: 20px 0px 20px 0px;
    border-bottom: 2px solid #e5e5e5;

}
.container-menu ul{
    display: flex;
    width: 50%;
    justify-content: space-around;
}
.container-menu ul li{
    list-style: none;
    font-size: 16px;
    font-weight: normal;
}













/*// profile main*/

.profile-main{

}

.profile-panel-left{

}

.profile-panel-right{

}