* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



nav .nav-right, nav .nav-left {
    display: flex;
    align-items: center;
}


nav .nav-left .search {
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgba(0, 0, 0, 0.73);
    width: 300px;
    height: 40px;
    border-radius: 25px;
    margin-left: 15px;
}

nav .nav-left > img {
    width: 40px;
}

nav .nav-left .search input {
    width: 80%;
    border: none;
    outline: none;
    margin-left: 15px;
}

nav .nav-left .search button {
    width: 35px;
    background-color: transparent;
    border: none;
    margin-right: 15px;
}

nav .nav-middle {
    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;
}

nav .nav-middle a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    margin: 0px 10px;
}

nav .nav-middle a.active {
    color: royalblue;
    position: relative;
}

nav .nav-middle a.active::after {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: royalblue;
}

nav .nav-middle a > i {
    font-size: 25px;
}

nav .nav-right .profile, .container .left-panel .profile {
    background: url('../../login/images/avarta.jpg');
    height: 30px;
    width: 30px;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
}

nav .nav-right a {
    text-decoration: none;
    color: #333;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #eee;
    display: grid;
    place-items: center;
    margin-left: 1rem;
}

nav .nav-right a > i {
    font-size: 18px;
}

.cover-avatar{
    background-image: linear-gradient(to bottom right, black, white);
    width: 400px;




}





.container {
    margin: auto;
    background: #eee;
    display: flex;
}

.container .left-panel{
    position: sticky;
    top: 70px;
    width: 250px;
    height: calc(100vh - 70px);
}

.container .left-panel ul {
    padding: 10px 0px;
}

.container .left-panel ul li {
    list-style: none;
    display: flex;
    padding: .7rem 1rem;
    align-items: center;
    transition: .3s;
    border-radius: 5px;
    cursor: pointer;
}

.container .left-panel ul li:hover {
    background: #ddd;
}

.container .left-panel ul li > p {
    margin-left: 10px;
}

.container .left-panel ul li > i {
    font-size: 20px;
    color: slateblue;
}

.container .left-panel ul li > i.fa-calendar-week {
    color: tomato;
}

.container .left-panel ul li i.fa-briefcase {
    color: green;
}

.container .left-panel ul li i.fa-star {
    color: yellowgreen;
}

.container .left-panel ul li i.fa-hands-helping {
    color: indianred;
}

.container .left-panel .footer-links {
    padding: 5px 1rem;
}

.container .left-panel .footer-links a {
    text-decoration: none;
    color: #333;
    font-size: 12px;
}

.middle-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle-panel .story-section {
    display: flex;
    padding: 1rem;
}

.middle-panel .story-section .story {
    width: 120px;
    height: 200px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin: 0px 5px;
    box-shadow: 0 0 5px 5px #ddd;
    background: #fff;
}

.middle-panel .story-section .story > img {
    height: 100%;
    transition: .3s ease-in;
}

.middle-panel .story-section .story:hover > img {
    transform: scale(1.05);
}

.middle-panel .story-section .story .dp-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 10px;
    left: 10px;
    border: royalblue 4px solid;
}

.middle-panel .story-section .story .dp-container > img {
    width: 100%;
    height: 100%;
}

.middle-panel .story-section .story .name {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 5px;
    color: #fff;
    font-weight: bold;
}

.middle-panel .story-section .story.create .dp-image {
    height: 80%;
    overflow: hidden;
}

.middle-panel .story-section .story.create .dp-image img {
    width: 100%;
}

.middle-panel .story-section .story.create .dp-container {
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    place-items: center;
    background: royalblue;
    border: 4px solid #fff;
}

.middle-panel .story-section .story.create .dp-container i {
    color: #fff;
}

.middle-panel .story-section .story.create .name {
    color: #000;
    font-size: 15px;
    left: 10px;
}

.post {
    width: 550px;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.post .post-top {
    display: flex;
    align-items: center;
    padding: 10px;
}

.post .post-top .dp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.post .post-top .dp > img {
    width: 100%;
    cursor: pointer;
}

.post .post-top .post-info {
    margin-left: 10px;
    font-weight: bold;
}

.post .post-top .post-info .name {
    cursor: pointer;
    font-size: 16px;
}

.post .post-top .post-info .time {
    font-size: 12px;
    cursor: pointer;
}

.post .post-top i {
    margin-left: auto;
    cursor: pointer;
}

.post .post-top > input {
    height: 40px;
    padding: 5px 10px;
    border-radius: 25px;
    outline: none;
    border: none;
    flex: 1;
    background: #eee;
    margin-left: 10px;
}

.post .post-content {
    font-size: 16px;
    font-weight: normal;
    padding: 10px;
}

.post .post-content > img {
    width: 100%;
    margin: 5px 0px;
}

.post .post-bottom {
    /*box-shadow: 1px solid #dadada;*/
    display: flex;
    justify-content: space-between;
    padding: 5px 5px 0px 5px;
}

.post .post-bottom .action {
    padding: 10px;
    border-radius: 10px;
    transition: .3s ease-in;
    cursor: pointer;
}

.post .post-bottom .action:hover {
    background: #eee;
}

.post.create .post-bottom > .action {
    color: #d74;
}

.container .right-panel {
    padding: 1rem;
}

.right-panel .pages-section,
.right-panel .friends-section {
    margin: 1rem 0px;
}

.right-panel .pages-section h4,
.right-panel .friends-section h4 {
    margin-bottom: 10px;
}

.right-panel .pages-section .page,
.right-panel .friends-section .friend {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: .3s ease-in-out;
    border-radius: 5px;
    padding: 7px 10px;
    color: #333;
}

.right-panel .pages-section .page:hover,
.right-panel .friends-section .friend:hover {
    background: #ddd;
}

.right-panel .pages-section .page > .dp,
.right-panel .friends-section .friend > .dp {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.right-panel .pages-section .page > .dp > img,
.right-panel .friends-section .friend > .dp > img {
    width: 100%;
}

.right-panel .pages-section .name, .right-panel .friends-section .name {
    font-size: 18px;
    cursor: pointer;
    margin-left: 8px;
}

.content-comment {
    margin-top: 15px;
}

.write-comment {
    width: 80%;
    display: flex;
    justify-content: space-between;
}


.write-comment img {
    border-radius: 50%;
}

.write-comment button {
    width: 40px;
    border: none;
    border-radius: 8px;
    background-color: #cb5900;
    color: white;

}

.write-comment input {
    height: 30px;
    width: 80%;
    border-radius: 10px;
}

.write-comment button a {
    text-decoration: none;
    color: white;
}

.user-comment img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.all-comment {
    position: relative;
    padding: 5px 5px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
}

.post-info-comment {
    position: absolute;
    border-radius: 10px;
    left: 40px;
    width: 90%;
    background-color: #f5f5f5;
    padding: 5px;
}

.post-info-comment .massage {
    font-size: 14px;
    font-weight: normal;
}

.post-info-comment .name {
    font-size: 14px;
    font-weight: normal;
}

/*css button search*/
.result-search{
    position: absolute;
    display: none;
    border-radius:0px 25px 25px 0px;
    width: 350px;
    background-color: #ffffff;
}