<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CreateGroup</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--    <link rel="shortcut icon" href="./images/logo.png" type="image/x-icon">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="../assets/css/group.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Buttons/2.0.0/css/buttons.min.css" integrity="sha512-x8eU2Yx8Pd8XjWOTv+S/2jXGe586o6Ow722EaqGwG+4hkWaW1ZSAIMYUAY5QDyMglc9fPT0E1kZRIBwsdggtqg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!--    <title>MediaBook</title>-->
</head>
<body>
<nav>
    <div class="nav-left">
        <img src="../assets/img/vietnamLogo.png" alt="Logo">
        <form>
            <div class="search">
                <input name="search" type="text" placeholder="Search MediaSocial..">
                <button type="submit" class="btn-search">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </form>
    </div>
    <div class="nav-middle">
        <a href="#" class="active">
            <i class="fa fa-home"></i>
        </a>

        <a href="#">
            <i class="fa fa-user-friends"></i>
        </a>

        <a href="#">
            <i class="fa fa-play-circle"></i>
        </a>

        <a href="#">
            <i class="fa fa-users"></i>
        </a>
    </div>

    <div class="nav-right">
        <div class="nav-right-icon">
            <span class="profile"></span>

            <a id="chat_icon" href="#">
                <i class="fas fa-comment-dots"></i>
            </a>
            <a href="#">
                <i class="fa fa-bell"></i>
            </a>

            <a href="#">
                <i class="fas fa-ellipsis-h"></i>
            </a>
        </div>

        <div class="nav-right-window-chat">
            <div class="window-chat-top">
                <div class="top-chat">
                    <div style="width: 100px; margin-left: 5px"><h1>Chat</h1></div>
                    <div class="top-icon">
                        <a href="#"><i class="fas fa-ellipsis-h" style="font-size: 18px"></i></a>
                        <a href="#"><i class="fa fa-bell" style="font-size: 18px"></i></a>
                        <a href="#"><i class="fas fa-times-circle" style="font-size: 18px"
                                       onclick="close_chat()"></i></a>
                    </div>
                </div>

                <div class="search-message">
                    <input name="search" type="text" placeholder="Search Message..">
                    <button type="submit" class="btn-search"
                            style="margin-left: 10px; background-color: transparent; border-color: transparent">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
            </div>

            <div class="window-chat-main">

                <a class="friend-chat" href="#">
                    <div class="item-friend">
                        <img src="../assets/img/avarta.jpg" alt="">
                        <div>
                            <p style="width: 100px; font-size: 17px; margin:10px 0px 0px 10px"> Han Toi</p>
                            <p style="width: 250px; font-size: 13px; margin:5px 0px 0px 10px"> Tin nhan gan nhat</p>
                        </div>
                        <div class="icon-edit-chat">
                            <i class="fas fa-ellipsis-h" style="font-size: 18px"></i>
                        </div>
                    </div>

                </a>

                <a class="friend-chat" href="#">
                    <div class="item-friend">
                        <img src="../assets/img/avarta.jpg" alt="">
                        <div>
                            <p style="width: 100px; font-size: 17px; margin:10px 0px 0px 10px"> Han Toi</p>
                            <p style="width:250px; font-size: 13px; margin:5px 0px 0px 10px"> Tin nhan gan nhat</p>
                        </div>
                        <div class="icon-edit-chat">
                            <i class="fas fa-ellipsis-h" style="font-size: 18px"></i>
                        </div>
                    </div>

                </a>

                <a class="friend-chat" href="#">
                    <div class="item-friend">
                        <img src="../assets/img/avarta.jpg" alt="">
                        <div>
                            <p style="width: 100px; font-size: 17px; margin:10px 0px 0px 10px"> Han Toi</p>
                            <p style="width:250px; font-size: 13px; margin:5px 0px 0px 10px"> Tin nhan gan nhat</p>
                        </div>
                        <div class="icon-edit-chat">
                            <i class="fas fa-ellipsis-h" style="font-size: 18px"></i>
                        </div>

                    </div>
                </a>

                <a class="friend-chat" href="#">
                    <div class="item-friend">
                        <img src="../assets/img/avarta.jpg" alt="">
                        <div>
                            <p style="width: 100px; font-size: 17px; margin:10px 0px 0px 10px"> Han Toi</p>
                            <p style="width:250px; font-size: 13px; margin:5px 0px 0px 10px"> Tin nhan gan nhat</p>
                        </div>
                        <div class="icon-edit-chat">
                            <i class="fas fa-ellipsis-h" style="font-size: 18px"></i>
                        </div>

                    </div>
                </a>

                <a class="friend-chat" href="#">
                    <div class="item-friend">
                        <img src="../assets/img/avarta.jpg" alt="">
                        <div>
                            <p style="width: 100px; font-size: 17px; margin:10px 0px 0px 10px"> Han Toi</p>
                            <p style="width:250px; font-size: 13px; margin:5px 0px 0px 10px"> Tin nhan gan nhat</p>
                        </div>
                        <div class="icon-edit-chat">
                            <i class="fas fa-ellipsis-h" style="font-size: 18px"></i>
                        </div>

                    </div>
                </a>


                <a class="friend-chat" href="#">
                    <div class="item-friend">
                        <img src="../assets/img/avarta.jpg" alt="">
                        <div>
                            <p style="width: 100px; font-size: 17px; margin:10px 0px 0px 10px"> Han Toi</p>
                            <p style="width:250px; font-size: 13px; margin:5px 0px 0px 10px"> Tin nhan gan nhat</p>
                        </div>
                        <div class="icon-edit-chat">
                            <i class="fas fa-ellipsis-h" style="font-size: 18px"></i>
                        </div>

                    </div>

                </a>

                <a class="friend-chat" href="#">
                    <div class="item-friend">
                        <img src="../assets/img/avarta.jpg" alt="">
                        <div>
                            <p style="width: 100px; font-size: 17px; margin:10px 0px 0px 10px"> Han Toi</p>
                            <p style="width:250px; font-size: 13px; margin:5px 0px 0px 10px"> Tin nhan gan nhat</p>
                        </div>
                        <div class="icon-edit-chat">
                            <i class="fas fa-ellipsis-h" style="font-size: 18px"></i>
                        </div>

                    </div>

                </a>

                <a class="friend-chat" href="#">
                    <div class="item-friend">
                        <img src="../assets/img/avarta.jpg" alt="">
                        <div>
                            <p style="width: 100px; font-size: 17px; margin:10px 0px 0px 10px"> Han Toi</p>
                            <p style="width:250px; font-size: 13px; margin:5px 0px 0px 10px"> Tin nhan gan nhat</p>
                        </div>
                        <div class="icon-edit-chat">
                            <i class="fas fa-ellipsis-h" style="font-size: 18px"></i>
                        </div>

                    </div>

                </a>


            </div>

        </div>

    </div>
</nav>

<div class="container" style="background-color: ghostwhite">
    <div class="left-panel" style="width: 400px; background-color: ghostwhite">
        <ul>
            <li>
                <span></span>
                <h6>Nhóm > Tạo Nhóm</h6>
            </li>
            <li>
                <span></span>
                <h2>Tạo Nhóm</h2>
            </li>
            <li>
                <hr >
            </li>
            <li>
                <span><img src="../assets/img/human.png" style="width: 50px;height: 50px; border-radius: 50%"></span>
                <p>Nhóm của bạn (Quản trị viên)</p>
            </li>

<!--            <li>-->
<!--                <span class="fa fa-user-friends"></span>-->
<!--                <p>Nhóm C0322G1</p>-->
<!--            </li>-->
        </ul>
        <div></div>
<!--        Thẻ Input nhập tên group-->
        <input id="groupName" style="height: 50px; width: 360px; margin: 10px;border-radius: 25px;padding: 12px 20px;" placeholder="Tên nhóm">

<!--        Thẻ Select nhập lựa chọn-->
        <select id="status" style="height: 50px; width: 360px; margin: 10px;border-radius: 25px;padding: 12px 20px;" placeholder="Chọn quyền riêng tư">
            <option>Công Khai</option>
            <option>Riêng Tư</option>
        </select>

<!--        Thẻ Input không bắt buộc-->
        <input style="height: 50px; width: 360px; margin: 10px;border-radius: 25px;padding: 12px 20px;" placeholder="Mời bạn bè (không bắt buộc)">

<!--        Thẻ Input up file ảnh-->
<!--        <input id="img" type="file">-->
        <div style="text-align:center;padding:3%;border-radius: 25px;border:thin solid black;width: 360px; margin: 10px;margin-top: 50px">
            <label>Select Image <br/><br>
                <input id="coverGroupImg" type="file">
            </label>
        </div>

        <div class="footer-links">
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
            <a href="#">Advance</a>
            <a href="#">More</a>
        </div>

        <div style="margin-top: 150px">
            <button onclick="uploadFile()" style="margin-left: 10px;margin-top: 80px;width: 380px" class="button button-pill button-primary">Create</button>
        </div>
    </div>

    <div class="middle-panel" style="background-color: lightgray">
        <div style="background-color: ghostwhite; width: 1050px; height: 800px; margin-top: 50px ;border-radius: 15px;">
            <div>
                <div>
                    <div style="margin: 10px; font-size: 15px">
                        <span >Xem trước trên máy tính</span>
                    </div>
                    <div>
                        <img style="height: 330px; width: 1030px; margin: 10px" src="../assets/img/groupb.png">
                    </div>
                    <div style="margin-left: 15px ;opacity: 0.5; filter: alpha(opacity=50); ">
                        <p style="font-size: 30px">Tên nhóm</p><br>
                        <h5>Nhóm Riêng Tư * 1 Thành Viên</h5>
                    </div>
                    <br>
                    <div>
                        <hr style="width: 95%; margin: auto">
                    </div>
                </div>
                <div style="opacity: 0.7; filter: alpha(opacity=50)">
                    <br>
                    <a style="margin-left: 30px">Giới thiệu</a>
                    <a style="margin-left: 30px">Bài Viết</a>
                    <a style="margin-left: 30px">Thành viên</a>
                    <a style="margin-left: 30px">Sự kiện</a>
                </div>
                <div>
                    <img style="height: 260px; width: 1030px; margin: 10px" src="../assets/img/fontgroup.png">
                </div>
            </div>
        </div>
    </div>

</div>
<script src="../assets/js/home.js"></script>
<script src="../assets/js/group.js"></script>
</body>
</html>