<!DOCTYPE html>
<html lang="en">

<head>
    <title>Profile page</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap"
          rel="stylesheet">
    <!--    <link rel="shortcut icon" href="./images/logo.png" type="image/x-icon">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="../assets/css/profile.css">
    <title>MediaBook</title>
    <link rel="stylesheet" href="../assets/css/home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../assets/js/ajax/ProfileAPI.js"></script>
    <script src="../assets/js/message.js"></script>
    <script src="../assets/js/home.js"></script>


</head>

<body>
<nav>
    <div class="nav-left">
        <img onclick="location.href='home.html' " src="../assets/img/vietnamLogo.png" alt="Logo">
        <form>
            <div class="search">
                <input name="search" type="text" placeholder="Search MediaSocial..">
                <button type="submit" class="btn-search">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </form>
    </div>
    <div class="nav-middle">
        <a href="home.html" class="active">
            <i class="fa fa-home"></i>
        </a>

        <a href="#">
            <i class="fa fa-user-friends"></i>
        </a>

        <a href="#">
            <i class="fa fa-play-circle"></i>
        </a>

        <a href="#">
            <i class="fa fa-users"></i>
        </a>
    </div>


    <div class="nav-right">
        <div class="nav-right-icon">
            <span class="profile"></span>

            <a id="chat_icon" href="#">
                <i class="fas fa-comment-dots"></i>
            </a>
            <a href="#">
                <i class="fa fa-bell"></i>
            </a>

            <a href="#">
                <i class="fas fa-ellipsis-h"></i>
            </a>
        </div>

        <div class="nav-right-window-chat">
            <div class="window-chat-top">
                <div class="top-chat">
                    <div style="width: 100px; margin-left: 5px"><h1>Chat</h1></div>
                    <div class="top-icon">
                        <a href="#"><i class="fas fa-ellipsis-h" style="font-size: 18px"></i></a>
                        <a href="#"><i class="fa fa-bell" style="font-size: 18px"></i></a>
                        <a href="#"><i class="fas fa-times-circle" style="font-size: 18px"
                                       onclick="close_chat()"></i></a>
                    </div>
                </div>

                <div class="search-message">
                    <input name="search" type="text" placeholder="Search Message..">
                    <button type="submit" class="btn-search"
                            style="margin-left: 10px; background-color: transparent; border-color: transparent">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
            </div>

            <div class="window-chat-main">

                <!--start show friend chat-->

                <a class="friend-chat" href="#" onclick="open_chat_one_one()">
                    <div class="item-friend">
                        <img src="../assets/img/avarta.jpg" alt="">
                        <div>
                            <p style="width: 100px; font-size: 17px; margin:10px 0px 0px 10px"> Han Toi</p>
                            <p style="width: 250px; font-size: 13px; margin:5px 0px 0px 10px"> Tin nhan gan nhat</p>
                        </div>
                        <div class="icon-edit-chat">
                            <i class="fas fa-ellipsis-h" style="font-size: 18px"></i>
                        </div>
                    </div>
                </a>

                <!--                End show friend chat-->
            </div>

        </div>

        <div class="nav-right-window-chat-one-one">
            <div class="chat-one-one-top">
                <div class="info-chat-one">
                    <img src="../assets/img/avarta.jpg" alt="">
                    <div>
                        <p class="name-friend-chat-one"
                           style="width: 100px; font-size: 17px; margin:5px 0px 0px 10px"></p>
                        <p style="width: 250px; font-size: 12px; margin:10px 0px 0px 5px"> Hoạt động 4 giờ trước</p>
                    </div>
                </div>
                <div class="action-chat-one">
                    <i class="fas fa-video"></i>
                    <i class="fas fa-phone-alt"></i>
                    <i class="fas fa-window-close" onclick="close_chat_one_one()"></i>
                </div>
            </div>
            <div class="chat-one-one-middle">


            </div>
            <div class="chat-one-one-bottom">
                <div class="chat-one-one-bottom-left">
                    <i class="fas fa-plus-circle"></i>
                    <i class="fas fa-images"></i>
                    <i class="fas fa-grin-alt"></i>
                </div>

                <div class="chat-one-one-bottom-right">
                    <div class="send-message-input">
                        <input placeholder="Nhập tin nhắn">
                        <i class="fas fa-thumbs-up"></i>
                    </div>
                    <div class="send-message-button">
                        <p>Send</p>
                    </div>


                </div>
            </div>
        </div>
    </div>
</nav>
<!--    show edit-->
<div class="show-edit">

    <div class=" show-edit-header">
        <div></div>
        <div style="margin-left:10px;margin-top: 10px">
            <p style="font-size: 22px; font-weight: bold">Chỉnh sửa trang cá nhân</p>
        </div>
        <div onclick="close_edit()" style="margin: 10px 10px 0px 0px">
            <i class="fas fa-window-close" style="font-size: 18px; color: #d00000"></i>
        </div>
    </div>

    <div class="show-edit-body ">

        <div class="edit-photo-avatar">
            <p>Ảnh đại diện</p>
            <img id="imgAvatarEdit" src="https://taimienphi.vn/tmp/cf/aut/anh-gai-xinh-1.jpg">
            <input type="file" placeholder="chọn ảnh">
        </div>

        <div class="edit-photo-cover">
            <p>Ảnh bìa</p>
            <img  id="imgCoverEdit" style="margin-left: 40px" src="https://taimienphi.vn/tmp/cf/aut/anh-gai-xinh-1.jpg">
            <input  type="file" placeholder="chọn ảnh">
        </div>

        <div class="edit-info-admin"></div>
        <p style="margin: 30px 0px 0px 30px; font-size: 16px; font-weight: bold">Chỉnh sửa thông tin cá nhân:</p>
        <div class="edit-info">
            <label>Họ và tên</label>
            <input id="nameEdit" style="text-align: left" type="text" required>
        </div>
        <div class="edit-info">
            <label>Email</label>
            <input  id="emailEdit" type="text" required>
        </div>
        <div class="edit-info">
            <label>Sinh nhật</label>
            <input id="dateEdit" type="text" required>
        </div>
        <div class="edit-info">
            <label>Giới tính</label>
            <input id="genderEdit" type="text" required>
        </div>

        <div class="edit-info">
            <label>Số điện thoại</label>
            <input id="phoneEdit" type="text" required>
        </div>


        <div class="edit-info">
            <label>Address</label>
            <input id="addressEdit" type="text" required>
        </div>

        <button class="sub-edit-profile">
            <p style="margin-top:5px; font-size: 16px"> Chỉnh sửa trang cá nhân</p>
        </button>
    </div>
</div>


<div class="profile-top">
    <div class="container-cover">
        <div class="cover-item">
            <img id="cover-profile-admin" src="https://i.pinimg.com/736x/c1/7c/86/c17c863d94dfb5e7ac335012c6ecb922.jpg">

            <div class="edit-cover" id="editCover">
                <i class="fas fa-camera" style="margin-top: 10px"></i>
                <p style="margin-top: 10px; font-size: 14px; font-weight: bold">Chỉnh sửa ảnh bìa</p>
            </div>
        </div>
    </div>

    <div class="container-info">
        <div class="left-info">
            <img id="avatar-admin-info" src="">
            <div style="margin-left: 20px; margin-top: 10px">
                <p id="fullName-admin-info" style="font-size: 28px; font-weight: bold; letter-spacing: 2px;">Han Toi</p>
                <span>1000 </span>
                <span style="font-size: 18px">bạn bè</span>
            </div>
        </div>
        <div class="right-info">
            <div class="right-info-add">
                <i class="fas fa-plus-circle"></i>
                <span>Thêm vào tin</span>
            </div>
            <div onclick="show_edit()" class="right-info-edit">
                <i class="fas fa-pen"></i>
                <span>Chỉnh sửa trang cá nhân</span>
            </div>
        </div>
    </div>

    <div class="container-menu">

        <ul>
            <li>Bài viết</li>
            <li>Giới thiệu</li>
            <li>Bạn bè</li>
            <li>Ảnh</li>
            <li>Video</li>
            <li>Check in</li>
            <li class="dropdown">
                <button style=" font-size: 15px ;border: none ;border-radius: 5px ; background: #bdb7b7">Xem thêm
                </button>
                <div class="dropdown-content">
                    <a href="#">Thể thao</a>
                    <a href="#">Âm nhạc</a>
                    <a href="#">Phim </a>
                </div>
            </li>
        </ul>
    </div>

</div>


<div class="profile-main">

    <div class="profile-main-left">
        <div>
            <div class="profile-panel-left-top">
                <p style="margin-left: 20px; font-weight: bold; font-size: 26px"> Giới thiệu</p><br>
                <div style="margin-left: 200px; border-radius: 20px; display: flex">
                    <i class="fas fa-plus-square"></i>
                    <p style="margin-left: 10px; font-size: 14px; font-weight: bold">Thêm tiểu sử</p>
                </div>
                <div class="info-profile-left">
                    <i class="fas fa-graduation-cap"></i>
                    <p id ="country-profile-info">Country </p>
                </div>
                <div class="info-profile-left">
                    <i class="fas fa-map-marker-alt"></i>
                    <p id="email-profile-info">email </p>
                </div>
                <div class="info-profile-left">
                    <i class="fas fa-phone-alt"></i>
                    <p id ="phone-profile-info">phone Number </p>
                </div>
                <div class="info-profile-left">
                    <i class="fas fa-user-circle"></i>
                    <p id="gender-profile-info">Gender </p>
                </div>
                <div class="info-profile-left">
                    <i class="fas fa-calendar-alt"></i>
                    <p id="date-profile-info">Date </p>
                </div>
                <div style="margin-left: 200px; border-radius: 20px; display: flex">
                    <i class="fas fa-plus-square"></i>
                    <p style="margin-left: 10px; font-size: 14px; font-weight: bold">thêm tiểu sử</p>
                </div>

            </div>


            <div class="profile-panel-left-middle">
                <div style="margin-top: 100px">
                    <p class="anh" style="margin-top: 20px">Ảnh</p>
                </div>

                <table style="margin-left: 30px;width: 500px;height: 500px;border-radius: 10px">
                    <tr>
                        <td><img style=" float: left;width: 150px;height: auto"
                                 src="https://haycafe.vn/wp-content/uploads/2022/02/Anh-gai-xinh-Viet-Nam.jpg"></td>
                        <td><img style=" float: left;width: 150px;height: auto"
                                 src="https://haycafe.vn/wp-content/uploads/2022/02/Anh-gai-xinh-Viet-Nam.jpg"></td>
                        <td><img style=" float:left;width:  77.8%;height: auto"
                                 src="https://haycafe.vn/wp-content/uploads/2022/02/Anh-gai-xinh-Viet-Nam.jpg"></td>
                    </tr>
                    <tr>
                        <td><img style=" float: left;width: 150px;height: auto"
                                 src="https://haycafe.vn/wp-content/uploads/2022/02/Anh-gai-xinh-Viet-Nam.jpg"></td>
                        <td><img style=" float: left;width: 150px;height: auto"
                                 src="https://haycafe.vn/wp-content/uploads/2022/02/Anh-gai-xinh-Viet-Nam.jpg"></td>
                        <td><img style=" float:left;width:  77.8%;height: auto"
                                 src="https://haycafe.vn/wp-content/uploads/2022/02/Anh-gai-xinh-Viet-Nam.jpg"></td>
                    </tr>
                    <tr>
                        <td><img style=" float: left;width: 150px;height: auto"
                                 src="https://haycafe.vn/wp-content/uploads/2022/02/Anh-gai-xinh-Viet-Nam.jpg"></td>
                        <td><img style=" float: left;width: 150px;height: auto"
                                 src="https://haycafe.vn/wp-content/uploads/2022/02/Anh-gai-xinh-Viet-Nam.jpg"></td>
                        <td><img style=" float:left;width:  77.8%;height: auto"
                                 src="https://haycafe.vn/wp-content/uploads/2022/02/Anh-gai-xinh-Viet-Nam.jpg"></td>
                    </tr>
                </table>

            </div>
            <div style="background: #e4e6eb; border-radius: 20px" class="profile-panel-left-down">
                <h3 style="margin-top: 50px;margin-left: 20px">Bạn bè</h3>
                <table style="margin-left: 30px;width: 500px;height: 500px;border-radius: 10px">
                    <tr>
                        <td><img style=" float: left;width: 150px;height: auto"
                                 src="https://haycafe.vn/wp-content/uploads/2022/02/Anh-gai-xinh-Viet-Nam.jpg"></td>
                        <td><img style="float: left;width: 150px;height: auto"
                                 src="https://haycafe.vn/wp-content/uploads/2022/02/Anh-gai-xinh-Viet-Nam.jpg"></td>
                        <td><img style=" float:left;width:  77.8%;height: auto"
                                 src="https://haycafe.vn/wp-content/uploads/2022/02/Anh-gai-xinh-Viet-Nam.jpg"></td>
                    </tr>
                    <tr>
                        <td class="friend-profile">ádf</td>
                        <td class="friend-profile">ádf</td>
                        <td class="friend-profile">ádf</td>
                    </tr>
                    <tr>
                        <td><img style=" float: left;width: 150px;height: auto"
                                 src="https://haycafe.vn/wp-content/uploads/2022/02/Anh-gai-xinh-Viet-Nam.jpg"></td>
                        <td><img style=" float: left;width: 150px;height: auto"
                                 src="https://haycafe.vn/wp-content/uploads/2022/02/Anh-gai-xinh-Viet-Nam.jpg"></td>
                        <td><img style=" float:left;width:  77.8%;height: auto"
                                 src="https://haycafe.vn/wp-content/uploads/2022/02/Anh-gai-xinh-Viet-Nam.jpg"></td>
                    </tr>
                    <tr>
                        <td class="friend-profile">ádf</td>
                        <td class="friend-profile">ádf</td>
                        <td class="friend-profile">ádf</td>
                    </tr>
                    <tr>
                        <td><img style=" float: left;width: 150px;height: auto"
                                 src="https://haycafe.vn/wp-content/uploads/2022/02/Anh-gai-xinh-Viet-Nam.jpg"></td>
                        <td><img style=" float: left;width: 150px;height: auto"
                                 src="https://haycafe.vn/wp-content/uploads/2022/02/Anh-gai-xinh-Viet-Nam.jpg"></td>
                        <td><img style=" float:left;width:  77.8%;height: auto"
                                 src="https://haycafe.vn/wp-content/uploads/2022/02/Anh-gai-xinh-Viet-Nam.jpg"></td>
                    </tr>
                    <tr>
                        <td class="friend-profile">ádf</td>
                        <td class="friend-profile">ádf</td>
                        <td class="friend-profile">ádf</td>
                    </tr>
                </table>

            </div>

        </div>
    </div>


    <div class="profile-main-right">
        <div class="post create">
            <div class="post-top">
                <div class="dp">
                    <img src="../assets/img/girl.jpg" alt="">
                </div>
                <input onclick="open_create_post()" type="text" placeholder="What's on your mind, Aashish ?"/>
            </div>

            <div class="post-bottom">
                <div class="action">
                    <i class="fa fa-video"></i>
                    <span>Live video</span>
                </div>
                <div class="action">

                    <i class="fa fa-image"></i>
                    <span>Photo/Video</span>

                </div>
                <div class="action">
                    <i class="fa fa-smile"></i>
                    <span>Feeling/Activity</span>
                </div>
            </div>
            <div class="container-create-post">
                <div class="top-create-post">
                    <div></div>
                    <div style="margin-top: 7px">
                        <span> Tạo bài viết</span>
                    </div>
                    <div onclick="close_post()">
                        <i class="fas fa-window-close"
                           style="color: #d00000; padding: 20px 20px 20px 20px; font-size: 18px"></i>
                    </div>
                </div>

            </div>

        </div>
<!--        Render post cho trang profile-->

        <div class="post">
            <div class="post-top">
                <div class="dp">
                    <img src="../assets/img/avarta.jpg" alt="">
                </div>
                <div class="post-info">
                    <p class="name">Han Toi</p>
                    <span class="time">2 days ago</span>
                </div>
                <i class="fas fa-ellipsis-h"></i>
            </div>

            <div class="post-content">
                <p>Han Toi</p>
                <img src="../assets/img/mountains.jpg"/>
            </div>

            <div class="container-post-bottom">
                <div class="quantity-like-comment">
                    <div class="quantity-like">
                        <i class="fas fa-thumbs-up" style="color: #ffffff;
                         background-color: #0076e7; font-size: 10px; border-radius: 50%; padding: 5px"></i>
                        <span>4</span>
                    </div>
                    <div class="quantity-comment">
                        <span>4</span>
                        <span>bình luận</span>
                    </div>
                </div>
                <div class="post-bottom">
                    <div class="action">
                        <i class="far fa-thumbs-up"></i>
                        <span>Like</span>
                    </div>
                    <div class="action" onclick="show_comment()">
                        <i class="far fa-comment"></i>
                        <span>Comment</span>
                    </div>
                    <div class="action">
                        <i class="fa fa-share"></i>
                        <span>Share</span>
                    </div>
                </div>

                <div style="display:none" class="container-comment">
                    <form action=" " method="post">
                        <div class="write-comment">
                            <img width="30px" height="30px" src="../assets/img/avarta.jpg">
                            <input name="massage" placeholder=" Viết bình luận ">
                            <button type="submit">Send</button>
                        </div>
                    </form>

                    <div class="all-comment">
                        <div class="top-comment">
                            <div>
                                <img src="../assets/img/avarta.jpg">
                            </div>
                            <div class="content-comment">
                                <p>Han Toi</p>
                                <span> Mới mua mà dao bán rồi</span>
                            </div>
                        </div>

                        <div class="bottom-comment" onclick="show_reply()">
                            <span style="font-size: 14px; font-weight: normal; margin-left:400px">reply</span>
                            <span style="font-size: 13px; font-weight: bold; ">10</span>
                        </div>
                        <div class="container-reply">
                            <div class="top-reply">
                                <div>
                                    <img src="../assets/img/avarta.jpg">
                                </div>
                                <div class="content-reply">
                                    <p>Han Toi</p>
                                    <span> Mới mua mà dao bán rồi</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>


</div>
</body>
</html>
<script>
    function show_more() {
        var x = document.getElementById("myDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }

    }

    function show_edit() {
        document.querySelector(".show-edit").style.display = "block";
        document.getElementById("manche").style.display = "block"
        document.body.style.overflowY = "hiddent"
    }

    function close_edit() {
        document.querySelector(".show-edit").style.display = "none";
        document.getElementById("manche").style.display = "none";
        document.body.style.overflowY = "scroll"
    }

    $('#chat_icon').click(function () {
        if (is_show_chat) {
            document.querySelector(".nav-right-window-chat").style.display = "none";
            is_show_chat = false;
        } else {
            document.querySelector(".nav-right-window-chat").style.display = "block";
            is_show_chat = true;
        }
    });

    // close message
    function close_chat() {
        document.querySelector(".nav-right-window-chat").style.display = "none";
    }

</script>