<!DOCTYPE html>
<html lang="en">

<head>
    <title>Profile page</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap" rel="stylesheet">
    <!--    <link rel="shortcut icon" href="./images/logo.png" type="image/x-icon">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="../assets/css/profile.css">
    <title>MediaBook</title>
    <link rel="stylesheet" href="../assets/css/home.css">
</head>

<body>
<nav>
    <div class="nav-left">
        <img src="../assets/img/vietnamLogo.png" alt="Logo">
        <form>
            <div class="search">
                <input name="search" type="text" placeholder="Search MediaSocial..">
                <button type="submit" class="btn-search">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </form>
    </div>
    <div class="nav-middle">
        <a href="#" class="active">
            <i class="fa fa-home"></i>
        </a>

        <a href="#">
            <i class="fa fa-user-friends"></i>
        </a>

        <a href="#">
            <i class="fa fa-play-circle"></i>
        </a>

        <a href="#">
            <i class="fa fa-users"></i>
        </a>
    </div>

    <div class="nav-right">
        <span class="profile"></span>

        <a href="#">
            <i class="fa fa-bell"></i>
        </a>

        <a href="#">
            <i class="fas fa-ellipsis-h"></i>
        </a>
    </div>
</nav>


<div class="profile-top">
    <div class="container-cover">
        <div class="cover-item">
            <img src="https://i.pinimg.com/736x/c1/7c/86/c17c863d94dfb5e7ac335012c6ecb922.jpg">

            <div  class="edit-cover" id="editCover">
                <i class="fas fa-camera" style="margin-top: 10px"></i>
                <p  style="margin-top: 10px; font-size: 14px; font-weight: bold">Chỉnh sửa ảnh bìa</p>
            </div>
        </div>
    </div>

    <div class="container-info">
        <div class="left-info">
            <img src="https://scontent-hkt1-1.xx.fbcdn.net/v/t1.6435-9/139542027_210401744121757_2003625589960416932_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=wSoY88YImCsAX-9NC0Z&_nc_ht=scontent-hkt1-1.xx&oh=00_AT-BafcLt7IMKSngoa26qSS0RF6Iqodu8o71g8V7sbI71Q&oe=630F8DB2">
            <div style="margin-left: 20px; margin-top: 10px">
                <p style="font-size: 28px; font-weight: bold; letter-spacing: 2px;">Han Toi</p>
                <span>1000 </span>
                <span style="font-size: 18px">bạn bè</span>
            </div>
        </div>
        <div class="right-info">
            <div  class="right-info-add">
                <i class="fas fa-plus-circle"></i>
                <span>Thêm vào tin</span>
            </div>
            <div class="right-info-edit">
                <i class="fas fa-pen"></i>
                <span>Chỉnh sửa trang cá nhân</span>
            </div>
        </div>
    </div>
    <div class="container-menu" >
    <ul >
        <li>Bài viết</li>
        <li>Giới thiệu</li>
        <li>Bạn bè</li>
        <li>Ảnh</li>
        <li>Video</li>
        <li>Check in</li>
        <li>Xem thêm</li>
    </ul>
    </div>

</div>









<div class="profile-main">
    <div class="profile-panel-left">

    </div>
    <div class="profile-panel-right">

    </div>

</div>

</body>
</html>