<!DOCTYPE html>
<html lang="en">

<head>
    <title>Profile page</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--    <link rel="shortcut icon" href="./images/logo.png" type="image/x-icon">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="../assets/css/profile.css">
    <title>MediaBook</title>
</head>

<body>
<nav>
    <div class="nav-left">
        <img src="../assets/img/vietnamLogo.png" alt="Logo">
        <form >
        <div class="search">
            <input name="search" type="text" placeholder="Search MediaSocial..">
            <button type="submit" class="btn-search">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div>
        </form>
    </div>
    <div class="nav-middle">
        <a href="#" class="active">
            <i class="fa fa-home"></i>
        </a>

        <a href="#">
            <i class="fa fa-user-friends"></i>
        </a>

        <a href="#">
            <i class="fa fa-play-circle"></i>
        </a>

        <a href="#">
            <i class="fa fa-users"></i>
        </a>
    </div>

    <div class="nav-right">
        <span class="profile"></span>

        <a href="#">
            <i class="fa fa-bell"></i>
        </a>

        <a href="#">
            <i class="fas fa-ellipsis-h"></i>
        </a>
    </div>
</nav>

// Ảnh bìa

<div class="cover-avatar">

</div>


<div class="container">

    <div class="left-panel">

        <ul>
            <li>
                <span class="profile"></span>
                <p>Hán Văn Tới</p>
            </li>
            <li>
                <i class="fa fa-user-friends"></i>
                <p>Friends</p>
            </li>
            <li>
                <i class="fa fa-play-circle"></i>
                <p>Videos</p>
            </li>
            <li>
                <i class="fa fa-flag"></i>
                <p>Pages</p>
            </li>
            <li>
                <i class="fa fa-users"></i>
                <p>Groups</p>
            </li>
            <li>
                <i class="fa fa-bookmark"></i>
                <p>Bookmark</p>
            </li>
            <li>
                <i class="fab fa-facebook-messenger"></i>
                <p>Inbox</p>
            </li>
            <li>
                <i class="fas fa-calendar-week"></i>
                <p>Events</p>
            </li>
            <li>
                <i class="fa fa-bullhorn"></i>
                <p>Ads</p>
            </li>
            <li>
                <i class="fas fa-hands-helping"></i>
                <p>Offers</p>
            </li>
            <li>
                <i class="fas fa-briefcase"></i>
                <p>Jobs</p>
            </li>
            <li>
                <i class="fa fa-star"></i>
                <p>Favourites</p>
            </li>
        </ul>

        <div class="footer-links">
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
            <a href="#">Advance</a>
            <a href="#">More</a>
        </div>
    </div>


    <div class="right-panel">

        <div class="story-section">

            <div class="story create">
                <div class="dp-image">
                    <img src="../assets/img/dp.jpg" alt="Profile pic">
                </div>
                <span class="dp-container">
                        <i class="fa fa-plus"></i>
                    </span>
                <span class="name">Create Story</span>
            </div>


            <div class="story">
                <img src="../assets/img/model.jpg" alt="Anuska's story">
                <div class="dp-container">
                    <img src="../assets/img/girl.jpg" alt="">
                </div>
                <p class="name">Anuska Sharma</p>
            </div>

            <div class="story">
                <img src="../assets/img/boy.jpg" alt="Story image">
                <span class="dp-container">
                        <img src="../assets/img/dp.jpg" alt="Profile pic">
                    </span>
                <span class="name">Gaurav Gall</span>
            </div>

            <div class="story">
                <img src="../assets/img/mountains.jpg" alt="Story image">
                <span class="dp-container">
                        <img src="../assets/img/boy.jpg" alt="Profile pic">
                    </span>
                <span class="name">Priyank Saksena</span>
            </div>

            <div class="story">
                <img src="../assets/img/shoes.jpg" alt="Story image">
                <span class="dp-container">
                        <img src="../assets/img/model.jpg" alt="Profile pic">
                    </span>
                <span class="name">Pragati Adhikari</span>
            </div>
        </div>

<!-- Post area-->
        <div class="post create">
            <div class="post-top">
                <div class="dp">
                    <img src="../assets/img/girl.jpg" alt="">
                </div>
                <input type="text" placeholder="What's on your mind, Aashish ?"/>
            </div>

            <div class="post-bottom">
                <div class="action">
                    <i class="fa fa-video"></i>
                    <span>Live video</span>
                </div>
                <div class="action">

                    <i class="fa fa-image"></i>
                    <span>Photo/Video</span>

                </div>
                <div class="action">
                    <i class="fa fa-smile"></i>
                    <span>Feeling/Activity</span>
                </div>
            </div>
        </div>

            <div class="post">
                <div class="post-top">
                    <div class="dp">
                        <img src="../assets/img/avarta.jpg" alt="">
                    </div>
                    <div class="post-info">
                        <p class="name">Han Toi</p>
                        <span class="time">2 days ago</span>
                    </div>
                    <i class="fas fa-ellipsis-h"></i>
                </div>

                <div class="post-content">
                    <p>Han Toi</p>
                    <img src="../assets/img/mountains.jpg"/>
                </div>


                <div class="container-post-bottom">
                    <div class="post-bottom">
                        <div class="action">
                            <i class="far fa-thumbs-up"></i>
                            <span>Like</span>
                        </div>
                        <div class="action">
                            <i class="far fa-comment"></i>
                            <span>Comment</span>
                        </div>
                        <div class="action">
                            <i class="fa fa-share"></i>
                            <span>Share</span>
                        </div>
                    </div>

                    <div style="display: none" class="content-comment">
                        <form action= "/comment?action=comment&idPost=${p.getIdPost()}" method="post">
                            <div class="write-comment">
                                <img width="30px" height="30px" src="">
                                <input name="massage" placeholder=" Viết bình luận ">
                                <button type="submit">Send</button>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </c:forEach>
    </div>


</div>

</body>

</html>