<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
<div id="a">
    xin chào
</div>
<button onclick="t()">xakasdá</button>
</body>

<script>
function t(){
    $("#a").prepend(`<a1 href="" onclick="b()" id="a12">asdasdsad </a1>`)

}
function  b(){
    let c=a12
    $('#'+c).prepend(`<a1 href="" onclick="b()" id="112">asdasdsad </a1>`)
}
</script>
</html>